.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    padding-top: 70px;
    background-color: #CDFFD8;
    background-image: linear-gradient(to right, #CDFFD8 , #94B9FF);
}
h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 750px;
    margin-top: 20%;
  }
  
  h1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 400px;
    }
    30% {
      top: 0.2rem;
      width: 400px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 275px;
    }
    62% {
      top: -4.5rem;
      width: 275px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
.text{
    display: grid;
    text-align: center;
}

.text1{
    color: #00083e;
    font-size: 55px;
    padding: 0 100px;
    font-weight: bold;
}
.text2{
    font-size: 40px;
}

 .s2{
    width: 100%;
    background-color: #EBEFF8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .s2 .abouttext{
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    padding-bottom: 20px;
  }

  .s2 p{
    font-size: 18px;
    max-width: 600px;
  }

  .s3{
    background-color: #677BB6;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
  }

  .s3 .whattext{
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 50%;
    color: azure;
  }

  .s3 p{
    font-size: 18px;
    padding-left: 50%;
    color: aliceblue;
  }

  .s4{
    background-color: #E2EAF1;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
  }

  .s4 .teamtext{
    font-family: 'Times New Roman', serif;
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #061BB0;
  }
.members{
    display: flex;
    align-items: center;
    place-content: center;
}
  .members div{
    background-color: #00C4CC;
    margin: 20px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

  .members .head{
    height: 300px;
    width: 300px;
  }